form {
	text-align: center;
	margin: 40px;
	font-size: 20px;
	background: #eee;
	border: 1px solid #bbb;
	padding: 20px;
	border-radius: 10px;
}

form input {
	margin: 10px;
	border-radius: 4px;
	box-shadow: 1px 1px 8px #cccccc;
	border: none;
	padding: 10px;
}

div.control {
	text-align: center;
	background: #a7c7dc; /* Old browsers */
	background: -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

	width: 100px;
	height: 30px;
	line-height: 30px;
	color: #eee;
	text-transform: uppercase;
	font-size: 16px;
	box-shadow: 1px 1px 8px #cccccc;
	border-radius: 6px;
	margin: auto;
	margin-top: 20px;
}